@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button,
a {
  all: unset;
}

body {
  background-color: #222;
  width: 100vw;
  min-height: 100vh;
  font-family: "Sen", sans-serif;
}
.container {
  display: grid;
  grid-template:
    "header" 100px
    "main" auto;
}
.header {
  grid-area: header;
  background-color: #000000;
  /* height: 100%;
  width: 100%;
  display: grid;
  grid-template:
    "titulo boton"
    "navegacion navegacion"
    / 100px 100px; */
}
.main {
  grid-area: main;
  background-color: #b8b8b8;
}

/* h1 {
  grid-area: titulo;
  background-color: aqua;
}
nav {
  grid-area: navegacion;
  background-color: blue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
}
button {
  grid-area: boton;
} */

/* Barra de navegacion */
.barra-nav {
  background-color: #222;
  position: absolute;
  width: 100%;
  height: 500px;
  display: grid;
  grid-template: repeat(5, 1fr) / 1fr;
}

.barra-nav > * {
  background-color: #616161;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 5px;
  cursor: pointer;
  user-select: none;
  font-size: 1.5rem;
  font-weight: 600;
  color: #c0c0c0;
}
.barra-nav > *:active {
  background-color: rgb(53, 59, 53);
  color: rgb(17, 17, 17);
}

.header {
  background-color: #222;
  display: grid;
  grid-template: "logo nav-bar entrada"/ 225px auto 100px;
}
.logo {
  grid-area: logo;
}
.entrada {
  grid-area: entrada;
}
.barra-nav {
  grid-area: nav-bar;
}

/* Elementos del Logo */
.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo p {
  color: #000000;
  cursor: pointer;
}
.logo figure {
  height: 100%;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo img {
  width: 80px;
  height: auto;

  border-radius: 50%;
  background-image: linear-gradient(
    rgba(0, 17, 255, 0.5),
    rgba(255, 0, 119, 0.5)
  );
  cursor: pointer;
}
.logo p:hover {
  color: #8a8a8a;
}

/* Elementos del boton de entrada */
.entrada {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.entrada i {
  font-size: 40px;
}
.entrada:hover {
  background-color: #353535;
  color: #8a8a8a;
  /* #a1a1a1 */
}
/* active */
.active {
  visibility: hidden;
  display: none;
}
