@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
a {
  all: unset;
  cursor: pointer;
}

body {
  background-color: #222;
  width: 100vw;
  min-height: 100vh;
  font-family: "Sen", sans-serif;
  overflow-x: hidden;
}

.container {
  display: grid;
  grid-template:
    "header" 100px
    "main" 1fr;
  min-height: 100vh;
}

.header {
  grid-area: header;
  background-color: #222;
  display: grid;
  grid-template-columns: 225px 1fr 100px;
  grid-template-areas: "logo nav-bar entrada";
  align-items: center;
}

.main {
  grid-area: main;
  background-color: #b8b8b8;
}

/* Barra de navegacion */
.barra-nav {
  background-color: #222;
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr;
  z-index: 10;
  transition: all 0.3s ease;
  background-color: red;
}

.barra-nav > * {
  background-color: #616161;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  padding: 15px;
  cursor: pointer;
  user-select: none;
  font-size: 1.2rem;
  font-weight: 600;
  color: #c0c0c0;
  transition: all 0.2s ease;
}

.barra-nav > *:hover {
  background-color: #4a4a4a;
}

.barra-nav > *:active {
  background-color: rgb(53, 59, 53);
  color: rgb(17, 17, 17);
}

/* Elementos del Logo */
.logo {
  grid-area: logo;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.logo p {
  color: #ffffff;
  cursor: pointer;
  transition: color 0.2s ease;
}

.logo figure {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  background-image: linear-gradient(
    rgba(0, 17, 255, 0.5),
    rgba(255, 0, 119, 0.5)
  );
  cursor: pointer;
}

.logo p:hover {
  color: #8a8a8a;
}

/* Elementos del boton de entrada */
.entrada {
  grid-area: entrada;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 100%;
  transition: all 0.2s ease;
}

.entrada i {
  font-size: 2rem;
}

.entrada:hover {
  background-color: #353535;
}

/* Estados de la navegación */
.barra-nav.active {
  transform: translateY(-100%);
  opacity: 0;
  visibility: hidden;
}

.barra-nav:not(.active) {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}
@media (min-width: 768px) {
  .barra-nav {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media (min-width: 992px) {
  .header {
    grid-template-columns: 225px 1fr;
    grid-template-areas: "logo nav-bar";
    align-items: center;
    background-color: rgb(70, 196, 97);
  }
  .barra-nav {
    position: static;
    background-color: blue;
  }
  .entrada {
    z-index: -10;
    opacity: 0;
    visibility: hidden;
    display: none;
  }
}
.main {
  background-color: black;
}
/* Barra de navegacion */
/* .barra-nav {
  background-color: #222;
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr;
  z-index: 1000;
  transition: all 0.3s ease;
}

.barra-nav > * {
  background-color: #616161;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  padding: 15px;
  cursor: pointer;
  user-select: none;
  font-size: 1.2rem;
  font-weight: 600;
  color: #c0c0c0;
  transition: all 0.2s ease;
} */
